@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MessageComponent />

<div class="mt-2">
	<ActionComponent OnClick="UpdateValue" @bind-Value="value2"/>
	<div class="mt-2">
		Value in Index @value, @value2
	</div>
</div>

<hr />

<div class="mt-2">
	<div class ="mt-2">
		<ChatFirstComponent />
	</div>
	<div class="mt-2">
		<ChatSecondComponent />
	</div>
</div>

@code {
	private int value = 0;
	private int value2 = 0;

	private void UpdateValue(int updateValue)
	{
		value = updateValue;
	}
}