@page "/quests/{Id:int}"
@inject IJSRuntime JsRuntime

<h3>QuestEditPage @Id </h3>
<hr />
<ErrorComponent ErrorText="Test" />
<hr />
<button class="btn btn-primary" @onclick="ShowAlertBox">Klik</button>
<hr />
<div class="prompted-text">
	@PromptedText
</div>

@code {
	[Parameter]
	public int Id { get; set; }

	public string? PromptedText { get; set;  }

	public async Task ShowAlertBox()
	{
		await JsRuntime.InvokeVoidAsync("alert", $"Id alert box {Id}");
		PromptedText = await JsRuntime.InvokeAsync<string>("prompt", "Take some input:");
	}
}
