<div>
	<h3>
		Klient
		@if (!string.IsNullOrWhiteSpace(BadgeText))
		{
			<span class="badge bg-primary">@BadgeText</span>
		}
	</h3>
	<span>@Value</span>
	@if (SpinnerOn)
	{
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	}
</div>

@code {
	[CascadingParameter(Name = "Message")]
	public string? Value { get; set; }

	[CascadingParameter]
	public bool SpinnerOn { get; set; }

	[CascadingParameter(Name = "BadgeMessage")]
	public string? BadgeText { get; set; }
}
